* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
    font-family: 'Grandstander', cursive;
    /* overflow-y: hidden; */
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #A1B5D8;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #A1B5D8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icons {
    font-size: 2.5rem;
    margin: 10px 0px;
}

.down {
    float: left;
}

.plus {
    float: left;
    margin-left: 25px;
}

.plus:hover {
    cursor: pointer;
}

.right {
    display: none;
}


header {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 20px;
}

header i {
    margin: 0px 10px;
}

.label {
    font-size: 3rem;
    padding: 20px;
}

#note-title {
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 2.5rem;
    font-family: 'Grandstander', cursive;
}

#note-content {
    width: 80%;
    height: 45vh;
    outline: none;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 2rem;
    text-align: justify;
    border: none;
    font-family: 'Grandstander', cursive;
}

.container_sec {
    min-height: 100vh;
    width: 100vw;
    background-color: #738290;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_sec h2 {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.remove {
    font-size: 3rem;
    padding: 20px;
    font-family: 'Grandstander', cursive;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    background-color: #fcf5f5;
}

.remove:hover {
    cursor: pointer;
    background-color: white;
}

.note {
    word-wrap: break-word;
    width: 80%;
    min-height: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
    background-image: url(images/noteBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.5rem;
    margin: 10px 0px;
    position: relative;
}

.note-close-mark {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.note-close-mark:hover {
    cursor: pointer;
}

.noteH2 {
    text-align: center;
}

.noteP {
    padding: 0px 20px 20px 20px;
}

@media (min-height: 600px) {
    #note-title {
        height: 55px;
    }

    #note-content {
        height: 55vh;
    }

    .icons {
        font-size: 3rem;
    }

    .plus {
        margin-left: 3rem;
    }
}

@media (min-width: 768px) and (min-height: 1020px) {
    header {
        font-size: 7rem;
    }

    .container header h1 i {
        font-size: 5rem;
    }

    .label {
        font-size: 5rem;
    }

    .container i {
        font-size: 4rem;
    }

    .container_sec h2 {
        font-size: 5rem;
    }

    .note {
        min-height: 400px;
    }

    #note-title,
    #note-content {
        padding: 10px 20px;
    }

    #note-title,
    #note-content,
    .noteP {
        font-size: 4rem;
    }

    .icons {
        font-size: 5rem;
    }

    .plus {
        margin-left: 4rem;
    }

    .remove {
        width: 65%;
        font-size: 5rem;
        padding: 40px;
        margin-top: 10px;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) {
    header {
        font-size: 9rem;
    }

    .container header h1 i {
        font-size: 7rem;
    }

    .label {
        font-size: 7rem;
    }

    .container i {
        font-size: 6rem;
        margin-top: 35px;
        margin-bottom: 0px;
    }

    .container_sec h2 {
        font-size: 7rem;
    }

    .icons {
        margin: 0px;
    }

    .plus {
        margin-left: 6rem;
    }

    .note {
        margin: 20px 0px;
    }

    .note:first-of-type {
        margin-top: 40px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 50vw;
        float: left;
    }

    .down {
        display: none;
    }

    .right {
        display: block;
        float: right;
    }

    .plus {
        float: right;
    }

    .container_sec {
        width: 50vw;
        float: left;
    }

    .note {
        width: 40vw;
        display: inline-block;
    }
}

@media (min-width: 1600px) {
    .icons {
        font-size: 6rem;
        margin-top: 25px;
    }
}